<div class="page-header">
	<h1>User Registration</h1>
</div>

<form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate="">
	
	<label>Name and Surname:</label>
	<span ng-show="(!regForm.name.$pristine && regForm.name.$error.required) 
	|| (regForm.$submitted && regForm.name.$error.required)" style="color: red">(This field is required.)</span>
	<input class="form-control" type="text" name="name" placeholder="Please enter your name and surname" ng-model="register.regData.name" required>
	
	<br>

	<label>E-mail:</label>
	<span ng-show="(!regForm.email.$pristine && regForm.email.$error.required) 
	|| (regForm.$submitted && regForm.email.$error.required)" style="color: red">(This field is required.)</span>
	<input class="form-control" type="text" name="email" placeholder="Please enter e-mail" ng-model="register.regData.email" required>
	<br>

	<label>Username:</label>
	<span ng-show="(!regForm.username.$pristine && regForm.username.$error.required) 
	|| (regForm.$submitted && regForm.username.$error.required)" style="color: red">(This field is required.)</span>
	<input class="form-control" type="text" name="username" placeholder="Please enter username" ng-model="register.regData.username" required>
	<br>

	<label>Password:</label>
	<span ng-show="(!regForm.password.$pristine && regForm.password.$error.required) 
	|| (regForm.$submitted && regForm.password.$error.required)" style="color: red">(This field is required.)</span>
	<input class="form-control" type="password" name="password" placeholder="Please enter password" ng-model="register.regData.password" required>
	<br>

	<button class="btn btn-primary" type="submit">Register</button>
</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="register.successMsg">
	<div class="alert alert-success">{{ register.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMsg">
	<div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>